
html,body{
  	height: 100%;
	background: #202020;
	color:#ccc;
	font-family: roboto, sans-serif;
	padding:0 auto;
	margin:0 auto;
}

.container {
  display: flex;
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal (opcional) */
  /*flex-direction: column;*/
  padding: 30px;
}

.container div{
	text-align: center;
	max-width: 1000px;
}

.container div *{
	margin: 30px auto auto;
}

h1{
	color:white;
	font-size:48px;
	max-width: 700px;
}

h2{
	font-weight: 300;
	font-size:24px;
}

img{
	width: 100%;
}

img.logo{
	max-width: 200px;
}

a{
	background: #fff;
	color:#333;
	display: inline-block;
	border-radius: 40px;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.shadow{
	border-radius: 10px;
	border:1px solid #666;
	box-shadow: 10px 5px 50px black;
}